services:
  backend:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "5001:5000"
    command: python -m backend.app

  bot:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - backend
    command: python -m bot.bot
